body {
    background-color: #aaaab5;
}

.very-light-gray {
    background-color: #fdfdfd;
}

.full-content-body {
    min-height: calc(100vh - 7rem);
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 45px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    margin-top: 0;
}

h1 {
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-weight: 700;
}

h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight:600;
}

h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight:600;
}

.card {
    margin-bottom: 30px;
}

.header-xlarge {
    font-size: 2.5rem;
}

.header-large {
    font-size: 2rem;
}

.header-medium {
    font-size: 1.5rem;
}

.header-small {
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.form-group {
    margin-bottom: 2rem;
}

.error-container {
    border: 4px solid #dc3545;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
}

.error-link {
    color: #dc3545;
}

.error-link:hover {
    color: #ba3545;
}

.table-row {
    border-bottom: 1px solid #dee2e6;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.inline-label {
    padding-right: 0.5rem;
}

.form-group-inline {
    padding-right: 2rem;
}

.bold {
    font-weight:600
}

.table-link {
    padding-left: 1.25rem;
}

.sheet-block {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #dee2e6;
}

details {
    padding-bottom: 1rem;
}

#remove-type-tag-button, #remove-language-button, #remove-trait-button, #remove-action-button, #remove-legendary-action-button {
    display: none
}