@(universeForm: Form[String])(implicit messagesProvider: MessagesProvider)

@import forms.UniverseForm.universeName

@main_template("universe.title") {

  <div class="row">
    <div class="col-8">
      <h1 id="header">@messagesProvider.messages("universe.header")</h1>
    </div>
  </div>

  @helper.form(action = controllers.routes.HomeController.show()) {
    @helper.inputText(
      universeForm(universeName),
      'id -> (universeName + "-text"),
      'class -> "form-control"
    )
    <input type="submit" class="btn btn-success" value="Next">
  }

}